@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-tribbo-bg text-tribbo-text antialiased;
    min-height: 100vh;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
